<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
    <meta name="theme-color" content="#2196f3">
    <meta name="author" content="DexignZone"> 
    <meta name="keywords" content=""> 
    <meta name="robots" content=""> 
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" src="{% static 'assets/images/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&amp;family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <title>Connected</title>
  </head>

  <body class="bg-white">
    <div class="page-wraper header-fixed">
        {% block content%}
        {% endblock content %}
        {% include 'menubar.html' %}
    </div>

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- Swiper -->
    <script src="{% static 'assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script><!-- Swiper -->
    <script src="{% static 'assets/js/dz.carousel.js' %}"></script><!-- Swiper -->
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'index.js' %}"></script>
    <script> $(".stepper").TouchSpin(); </script>
    <script>if ('serviceWorker' in navigator) {navigator.serviceWorker.register('/static/js/sw.js').then((registration) => {console.log('Service Worker registered with scope:', registration.scope);}).catch((error) => {console.error('Service Worker registration failed:', error);});}</script>

  </body>
</html>